.btn-circle{
    background: rgb(82,215,250);
background: linear-gradient(177deg, rgba(82,215,250,1) 0%, rgba(176,118,255,1) 64%, rgba(210,141,246,1) 85%, rgba(255,155,251,1) 100%);

width: 20px;
  height: 20px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  line-height: 1.428571429;
  border-radius: 15px;
margin-right: 1rem;
border: none;
}
.fictif{
    cursor : default!important;
}
.nom-tache{
    background-color: white;
    display: flex;
    align-items: center;
    border-radius: 0.3rem;
    padding-left: 1rem;
    
}
.btn-normal{
    background-color:white;
    width: 20px;
    height: 20px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    line-height: 1.428571429;
    border-radius: 15px;
  margin-right: 1rem;
  border: 0.1rem solid rgb(199, 199, 199); 
}
.icons{
}
.btm{
    color: hsl(0, 0%, 72%)!important;
    box-shadow: none!important;
    transition: none!important;
    font-weight: bolder!important;
    border: none!important;
    font-size: 0.8rem!important;
}
.infotask{
    color: hsl(0, 0%, 72%)!important;
    font-weight: bolder!important;
    font-size: 0.8rem!important;
}

.item-menu{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.btm:focus{
    box-shadow: none!important;
    font-weight: bolder!important;
    border: none!important;
    color:rgb(29, 175, 233)!important;

}
.del{
    font-weight: normal!important;
}
.del:focus{
    font-weight: normal!important;
}

.bg-white{
    border-top: 15px!important;
    background-color: white;

}
.form-control{
    box-shadow: none!important;
    
    border: none!important;
    
}

.list-group{
    margin-top: 1rem;
}

.btn-cross{
    position:absolute;
    background-color: white;
    border: none;
    right:1rem;
    visibility: hidden;
}

@media(max-width:800px){
.d-block{
    width: 100%;
    }
.btn-cross{
    visibility:visible;
}
.list-group{
    max-height:5em;
    overflow:auto;
}

}    