.App {
  text-align: center;
  background-color: rgba(255, 255, 128, 0);
  
}
.footext{
  position: absolute;
  bottom: 10%;
  left: 35%;
  right: 35%;
  

}

body{
  background-image: url(./images/bg-desktop-light.jpg) ;
  width : 100%;
 background-repeat: no-repeat;
 background-size:100%;
 background-position: top left;
 background-color: #E4E5F1!important;
 z-index: 1;
}
.display-6{
  margin-top: 2rem ;
  margin-bottom: 2rem;
    font-size: 1.8rem!important;
}


.contenu{
  margin: auto 0 auto;
  width : 50%!important;
}

.chk{
  border-radius: 0;
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media(max-width:800px){
  .contenu{
      width: 100vw!important;
      }
  .footext{
    position: absolute;
    bottom: 1vh;
    left: 10vw;
    right: 10vw;
    font-size: 0.8rem;
  }
  }  